 <!-- START PAGE BANNER AND BREADCRUMBS -->
 <section id="page-banner">
    <div class="single-page-title-area overlay bg" data-background="assets/img/bg/slide1.jpg">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="single-page-title">
                        <h2>Alliance Investment Management Ltd</h2>
                        <p>About Alliance Investment Management Ltd</p>
                    </div>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
    <div class="single-page-title-area-bottom">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">FAQ</li>
                    </ol>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</section>
<!-- END PAGE BANNER AND BREADCRUMBS -->
<div class="auto-container"><br>
     <strong>  Frequently Asked Questions (FAQ)</strong>  <br>
<div class="row">
  <p>
    <strong > Q: What year was Alliance Investment management Ltd (AIM) Founded ?</strong> <br>
    Alliance Investment management Ltd (AIM) was founded on 27th June 2017 in United Kingdom.
  </p>
    <br>
   <p>
    
    <strong> Q: Since when has Alliance Investment management Ltd been operating ?</strong>  <br>
    Alliance Investment management Ltd has been operating locally since 2017 in United Kingdom but gained Worldwide recognition in 2020.
   </p>
   <p>
    <strong> Q: How can I invest with Alliance Investment management Ltd (AIM) ?</strong> <br>
    To make a investment you must first become a member of Alliance Investment management Ltd. Once you are signed up, you can make your first deposit. All deposits must be made through the Members Area. You can login using the member username and password you receive when signup. 
   </p>
   <p>
    <strong>  Q: I wish to invest with Alliance Investment management Ltd but I don't have an any ecurrency account. What should I do?</strong> <br> 
    You can open a free bitcoin account here: www.blockchain.com and www.paxfulwallet.com
 </p>
    <p>
        <strong>   Q: How do I open Alliance Investment management Ltd Account?</strong> <br>
        It's quite easy and convenient. Follow this link, http://www.allianceinvestmanagement.com/  fill in the registration form and then press "Register". 
    </p> 
    <p>
    <strong>   Q: Which e-currencies do you accept?</strong> <br>
    We accept Bitcoin, Ethereum, Bitcoin cash, perfect money and Payeer
    </p>

    <p>
    <strong>   Q: How can I withdraw funds?</strong> <br>
    Login to your account using your username and password and check the Withdraw section. 
    </p>
    <p>
    <strong>  Q: How long does it take for my deposit to be added to my account?</strong> <br> 
    Your account will be updated within 24hrs of your deposit. 
    </p>
    <p>
    <strong>    Q: How can I change my e-mail address or password?</strong> <br>
    Log into your Alliance Investment management Ltd account and click on the "Account Information". You can change your e-mail address and password there. 
    </p>
    <p>
    <strong>   Q: What if I can't log into my account because I forgot my password?</strong> <br>
    Click forgot password link, type your username or e-mail and you'll receive your account information. 
    </p>
    <p>
    <strong>   Q: Does a daily profit paid directly to my currency account?</strong> <br>
    Yes, from the moment you make a deposit to the company, your daily profit will begin to read automatically. 
    </p>
    <p>
    <strong>   Q: How do i calculate the interest on my account?</strong> <br>
    Depending on each plan. Interest on your Alliance Investment management Ltd account is acquired Daily, Weekly, Bi-Weekly, Monthly and Yearly and credited to your available balance at the end of each day. 
    </p>
    <p>
    <strong>   Q: Can I make an additional deposit to Alliance Investment management Ltd account once it has been opened?</strong> <br>
    Yes, you can but all transactions are handled separately. 
    </p>
    <p>
    <strong>   Q: After I make a withdrawal request, when will the funds be available on my ecurrency account?</strong> <br>
    Funds are automated and processed within 24hrs of your withdrawal request.
</p>
<p>
    <strong>   Q: How can I change my password?</strong> <br>
    You can change your password directly from your members area by editing it in your personal profile. 
</p> 
<p>
    <strong>  Q: Can I lose money?</strong> <br>
    we have developed the best investment solution, for all investors who wishes to invest in Agricultural products, Real estate and Cryptocurrency to benefit from, Alliance Investment management Ltd is a long term investment company which has been established to help every investors around the world to earn profits through investment in Agricultural products, Real estate and Cryptocurrency exchange.
</p> 
<p>
    <strong>   Q: How can I check my account balances?</strong> <br>
    You can access the account information 24 hours, seven days a week over the Internet. 
</p> <br>

<p> 
    <strong>  Q: Who manages the funds?</strong> <br>
    These funds are managed by an experienced and committed team of Alliance Investment management Ltd expert.
</p>
<br><br>

</div>
<p>
    <strong>Q: May I open several accounts in your program?</strong> <br>
    Yes. Multiple account is allowed 
</p> 
</div>

<br><br>
