<!-- START PAGE BANNER AND BREADCRUMBS -->
<section id="page-banner">
    <div class="single-page-title-area overlay bg" data-background="assets/img/bg/slide1.jpg">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="single-page-title">
                        <h2>Alliance Investment Management Ltd</h2>
                        <p>Risk Management</p>
                    </div>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
    <div class="single-page-title-area-bottom">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Team</li>
                    </ol>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</section>
<!-- END PAGE BANNER AND BREADCRUMBS -->
<div class="auto-container">
    <div class="row">
        <p>
            Introduction

            The aim of the Risk Management Policy is to provide guidelines on the management of risks to enable the
            achievement of strategic and operational objectives of Gromio Limited.
            The Policy seeks to cover all material risks that the Company

            Definitions

            Board: Means the Board of Directors of Gromio Limited.
            Company: Means Gromio Limited
            Directors: Means the members of the Board.
            Investment Manager: Means Gromio Limited Investment Services
            Risk Management Plan: Means the risk management plan approved by the Investment Manager.

            Purpose

            The purpose of this Policy is to state the overall intentions and direction of Gromio Limited in relation to
            risk

            Risk management comprises a series of planned and coordinated activities to direct and control an organization
            with regard to

            Risk is the effect of uncertainty on

            Policy

            All investments and businesses involve risk. Gromio Limited is subject to an ever-changing spectrum of risk
            which may impact its ability to achieve its financial, operational, and investment

            Risk management is an important discipline which, to be effective, must be planned, implemented and

            The purpose of risk management is to plan for risk and to put into place controls which may reduce the
            likelihood of risks eventuating and to develop contingency plans to minimize their consequences if they

            Risk management process

            The purpose of the risk management process is to protect and further the interests of the Company’s

            The risk management process is the systematic application of management policies, procedures, and practices to
            the activities of communicating, consulting, establishing the context, and identifying, analyzing, evaluating,
            treating, monitoring, and reviewing

            Risk management is not about avoiding risk. Risk necessarily attaches to all business decisions and risks must
            be taken to further the objectives of the

            Risk Management Plan

            Gromio Limited anticipates that the establishment of a risk management framework will assist both the Board and
            the Investment Manager to make informed and transparent decisions which will assist the Company to achieve its

            The risk management framework will comprise a set of components that will provide the foundations and
            organizational arrangements for designing, implementing, monitoring, reviewing, and continually improving risk
            management throughout the

            Risk appetite is the combined level of tolerance for all the risks that the Company is willing to accept in
            pursuing its objectives. Through its risk management plan, Gromio Limited will define its individual risk
            tolerances and therefore its collective risk appetite.

            To articulate its risk appetite, Gromio Limited will maintain a risk register which will record information
            about all identified, material, risks including their risk tolerances.

            Standards
        </p>
    </div>
</div>

<!-- START CALLTOACTION SECTION -->
<section id="calltoaction" class="calltoaction-padding section-padding bg-theme">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                <div class="calltoaction-two-wrap">
                    <h4>Need Team Service?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do<br>incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>
            <!-- end col -->
            <div
                class="col-lg-4 col-md-4 col-sm-12 col-12 mt-lg-4 mt-md-4 text-lg-right text-md-right text-sm-left text-left">
                <a href="#" class="btn-style btn-border btn-border-3">Contact Us</a>
            </div>
            <!-- end col -->
        </div>
        <!-- end row-->
    </div>
</section>
<!-- END CALLTOACTION SECTION -->


<!--Footer Bottom -->
<div class="copyright">
    <div class="auto-container">
        <div class="row">
            <div
                class="col-lg-6 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-4 footer-menu text-center text-lg-left text-md-left">
                <ul>
                    <li><a href="#">Company Profile</a> </li>
                    <li><a href="#">Terms & Condition</a> </li>

                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 copyright-text text-center text-lg-right text-md-right">
                <p><a href="https://www.templateshub.net" target="_blank">Templates Hub</a></p>
            </div>
        </div>
    </div>
</div>
