 <!-- START PAGE BANNER AND BREADCRUMBS -->
 <section id="page-banner">
    <div class="single-page-title-area overlay bg" data-background="../../../assets/img/bg/slide1.jpg">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="single-page-title">
                        <h2>Alliance Investment Management Ltd</h2>
                        <p>Privacy & Policy</p>
                    </div>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
    <div class="single-page-title-area-bottom">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Privacy & Policy</li>
                    </ol>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</section>
<!-- END PAGE BANNER AND BREADCRUMBS -->
<div class="auto-container">
 <div class="row">
    <p>
        Safeguarding your personal information is important to Gromio Limited, which comprises of Gromio Limited (“GL”)
        and its subsidiaries and affiliates (“Gromio Limited”). This Agreement sets out the information practices for
        Gromio Limited, including what type of information is collected, how information is used, and with whom
        information is shared. By establishing an account with GL or the Gromio Limited or by utilizing the products and
        services available through GL or the Gromio Limited, you have consented to the collection and use of your
        personal information in accordance with the privacy notice set forth below. You are encouraged to read this
        privacy notice carefully.

        GL does not sell customer lists or customer email addresses to third-party marketers.

        In order to provide services and to comply with regulatory requirements, GL collected certain personal,
        nonpublic information from you. This includes information:

        Provided during the onboarding/client account application process (e.g. name, address, e-mail address, birth
        date, occupation, tax identification number, investment objective, proof of income, etc)

        Government-issued identification with a picture, such as a valid passport, national identification card,
        driver’s license as well as other documents or means of confirming your identity that is acceptable to us;

        Acquired as a result of the transactions conducted with GL, including payment history, account activity, how you
        intend to use the account, and the source of any incoming funds or assets;

        Your annual income, assets and liabilities, and credit history;

        Information about beneficial owners, intermediaries, and other third parties such as your spouse, where this
        information is required by law;

        Collected through internet ‘cookies’;

        For legal entities such as companies, partnerships, trusts, estates, or investment clubs, we may collect the
        information referred to above for each authorized person, partner, trustee, executor, and club member, as
        appropriate.
        We safeguard the confidentiality of your information in a number of ways. For example:

        We do not sell or license lists of our customers or the personal, nonpublic information that you provide to us.

        We restrict access to the personal, nonpublic information that you have shared with us to those GL employees,
        agents, and affiliates who need to know such information in connection with the services that GL provides to
        you.

        We maintain strict employment policies that prohibit employees who have access to your personal, nonpublic
        information from using or disclosing such information except for business purposes.

        We do not disclose personal nonpublic information to individuals or entities that are not affiliated with GL,
        except as provided by law.

        For example, among other reasons, we may disclose or report such information:
        a) Where necessary to authorize, effect, administer, or enforce transactions that you request or authorize;
        b) To maintain and administer your account;
        c) To provide you with account confirmations, statements, and records; to maintain appropriate archival records;
        d) Where we believe that disclosure is required by applicable law, rules, or regulations;
        e) To cooperate with law enforcement, regulatory, or self-regulatory organizations;
        f) To enforce our customer and other agreements;
        g) To meet our obligations; or
        h) To protect our rights and property.
        We may use such information:
        a) To confirm your identity;
        b) To understand your needs;
        c) To determine the suitability of our products and services for you;
        d) To determine your eligibility for our services;
        e) To meet our legal and regulatory requirements;
        f) To manage and assess our risks; and
        g) To prevent or detect fraud or criminal activity or to manage and settle any actual or potential loss in
        connection with fraud or criminal activity.
        We may collect, use, and disclose your tax or another government-issued personal identification number for
        income tax reporting purposes, as required by law in the jurisdictions that GL does business. In addition, we
        may ask you for your tax or another personal identification number, where permitted by law, to verify and
        confirm your identity. This allows us to keep your personal information separate from that of other clients,
        particularly those with similar names and helps maintain the integrity and accuracy of your information. You
        agree to give us complete and truthful information. If any personal information changes or becomes inaccurate or
        out of date, you are required to advise us so we can update our records.
        We may verify relevant information you give us with your employer, your references, or other reliable
        independent sources, and you authorize any person whom we contact in this regard to provide such information to
        us. We may refuse to enter into or continue relationships or conduct transactions with you for certain legal
        reasons, or if you insist on anonymity or provide false, inconsistent, or conflicting information where the
        inconsistency or conflict cannot be resolved after reasonable inquiry.
        We may monitor your account to meet our legal and regulatory obligations, including using systems to prevent or
        detect fraud or criminal activity such as money laundering or terrorist financing. You agree that we may share
        your information within Gromio Limited for these purposes, including monitoring account activity, investigating
        unusual or suspicious activity, and, if necessary, reporting such activity to law enforcement.
        You agree that we may monitor or record any telephone call we have with you. The content of the call may also be
        retained. This is to establish a record of the information you provide, to ensure that your instructions are
        followed properly, and to ensure customer service levels are maintained.
        When you apply for, accept, or guarantee a loan or otherwise become indebted to us, and from time to time during
        the course of the loan, we may use, give to, obtain, verify, share and exchange credit and other information
        about you with others including electronic payment service providers, credit or charge card associations, credit
        bureaus, registries, other companies in the Gromio Limited and other persons with whom you may have financial
        dealings, as well as any other person as may be permitted or required by law. We may do this throughout the
        relationship we have with you, and we can continue to disclose your personal information to credit bureaus even
        after the loan or credit facility has been retired. You also authorize any person whom we contact in this regard
        to provide such information to us.
        We may give information about you to other members of Gromio Limited so that these companies may tell you
        directly about their products and services (where the law allows this). This consent will apply to any company
        that forms part of Gromio Limited in the future.
        We may keep and use information about you in our records for as long as it is needed for the purposes described
        in this Agreement, even if you cease to be a customer.
         
    </p>
  </div>
</div>

<!-- START CALLTOACTION SECTION -->
<section id="calltoaction" class="calltoaction-padding section-padding bg-theme">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                <div class="calltoaction-two-wrap">
                    <h4>Need Team Service?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do<br>incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>
            <!-- end col -->
            <div
                class="col-lg-4 col-md-4 col-sm-12 col-12 mt-lg-4 mt-md-4 text-lg-right text-md-right text-sm-left text-left">
                <a href="#" class="btn-style btn-border btn-border-3">Contact Us</a>
            </div>
            <!-- end col -->
        </div>
        <!-- end row-->
    </div>
</section>
<!-- END CALLTOACTION SECTION -->


<!--Footer Bottom -->
<div class="copyright">
    <div class="auto-container">
        <div class="row">
            <div
                class="col-lg-6 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-4 footer-menu text-center text-lg-left text-md-left">
                <ul>
                    <li><a href="#">Company Profile</a> </li>
                    <li><a href="#">Terms & Condition</a> </li>

                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 copyright-text text-center text-lg-right text-md-right">
                <p><a href="https://www.templateshub.net" target="_blank">Templates Hub</a></p>
            </div>
        </div>
    </div>
</div>