 <!-- START PAGE BANNER AND BREADCRUMBS -->
 <section id="page-banner">
    <div class="single-page-title-area overlay bg" data-background="../../../assets/img/bg/slide1.jpg">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="single-page-title">
                        <h2>Alliance Investment Management Ltd</h2>
                        <p>Privacy & Policy</p>
                    </div>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
    <div class="single-page-title-area-bottom">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Privacy & Policy</li>
                    </ol>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</section>
<!-- END PAGE BANNER AND BREADCRUMBS -->
<div class="auto-container">
 <div class="row">
    <p>
        Privacy Policy

This Privacy Policy is intended to describe how your personal information is processed and used. Please note that by visiting and using Alliance Investment management Ltd (AIM), you are accepting the practices described.

Each computer connected to the internet is provided with a domain name and IP-address. When a visitor requests a web page from the site, our server automatically identifies and log the HTTP request that is made.

This information reveals nothing personal about you. In fact, the only information we automatically gather and log is as follows: the IP-address of the site that may have referred you; your IP-address; the web page that you may have linked to us from, if any; the product identifier for version and make of browser (e.g. Google Chrome); the operating system platform that you may be running (e.g. Macintosh or Windows); search words or terms that are passed from a search engine (e.g. Google).

Alliance Investment management Ltd has found it advantageous to examine visitor traffic so that we can ensure maximum compatibility for the various browsers and operating systems that visit our site. By analyzing visitation patterns, referring URLs and search engine terms, we can strategically enhance our exposure across the Internet.

When we provide services, we want to make them easy, useful and reliable. Where services are delivered on the internet, this sometimes involves placing small amounts of information on your device, for example, your computer or mobile phone. These include small files known as cookies. They cannot be used to identify you personally.

Alliance Investment management Ltd Company uses all reasonable precautions to keep the information disclosed to us secured. In order to protect the privacy of our clients, our program doesn't require them to provide their ID, photos or any other documents that may cause damage or distress.

The information gathered during the use of this service is used solely to simplify the user account administration. Client information is confidential and can't be disclosed to third parties.

Alliance Investnent management Ltd Company is not responsible for personal information leakage if the client accidentally or intentionally has provided access to his/her account to third parties. Furthermore, we are not responsible for any breach of security or for any actions of any third parties that receive the information. In order to avoid personal information disclosure, we recommend using an antivirus program, firewall and not to open emails sent from unknown senders and not to follow links in these emails.

In order to protect your personal information, we warn our clients that we never, under any pretext, ask for login, password or access to a personal email box of the client. If you have received such a letter, don't respond to it and notify our support.

                              <br/>Anti - Spam Policy<br/>

Alliance Investment management Ltd Company is committed to permission-based email marketing practices, and as a result has established this no-tolerance anti-spam policy. This sets forth our policy with regard to the use of spam marketing techniques in connection with internet marketing. In the event that we deem you to be in violation of these policies, we shall immediately revoke your membership rights and close any active account.

We have a strict policy against spamming. We forbid the sending of unsolicited mass emails or unsolicited emails of any kind in connection with the marketing of our system, investment plans, and services.

We reserve the right to terminate your account and participation in our system if we deem you to be in violation of our anti-spamming policies. We also reserve the right to suspend your account and participation pending review upon receipt of any complaint or other evidence that you may be engaging in any spamming activity.

We consider spamming to be any activity whereby you directly or indirectly transmit email messages to any email address that has not solicited such email and doesn't consent to such transmission.

We also consider spamming to constitute posting advertisements in newsgroups in violation of the terms of participation in such newsgroups, which are off topic, or in newsgroups that don't specifically permit advertisements. We also consider it spamming when advertisements are placed on message boards or in chat rooms when they aren't permitted by the terms of participation in such message boards and chat rooms.

If you are spammed by anyone regarding our program, investment plans, site or any other matters, please report this activity to our support.
    </p>
  </div>
</div>

<!-- START CALLTOACTION SECTION -->
<section id="calltoaction" class="calltoaction-padding section-padding bg-theme">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                <div class="calltoaction-two-wrap">
                    <h4>Need Team Service?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do<br>incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>
            <!-- end col -->
            <div
                class="col-lg-4 col-md-4 col-sm-12 col-12 mt-lg-4 mt-md-4 text-lg-right text-md-right text-sm-left text-left">
                <a href="#" class="btn-style btn-border btn-border-3">Contact Us</a>
            </div>
            <!-- end col -->
        </div>
        <!-- end row-->
    </div>
</section>
<!-- END CALLTOACTION SECTION -->


<!--Footer Bottom -->
<div class="copyright">
    <div class="auto-container">
        <div class="row">
            <div
                class="col-lg-6 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-4 footer-menu text-center text-lg-left text-md-left">
                <ul>
                    <li><a href="#">Company Profile</a> </li>
                    <li><a href="#">Terms & Condition</a> </li>

                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 copyright-text text-center text-lg-right text-md-right">
                <p><a href="https://www.templateshub.net" target="_blank">Templates Hub</a></p>
            </div>
        </div>
    </div>
</div>