<!-- <div class="container">
    <div class="row">
         <p>Hey You</p>
    </div>
</div> -->

<section id="wrapper">

  
    <div class="p-4">
      <div class="welcome">
        <div class="content rounded-3 p-3">
          <h1 class="fs-3">Welcome to Admin Panel</h1>
          <p class="mb-0">Hello Admin welcome to your awesome dashboard!</p>
        </div>
      </div>
  
      <section class="statistics mt-4">
        <div class="row">
          <div class="col-lg-3">
            <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
              <i class="fa fa-edit text-center bg-primary rounded-circle white"></i>
              <div class="ms-3">
                <div class="d-flex align-items-center">
                  <h3 class="mb-0">13</h3> &nbsp; <span class="d-block ms-2">Deposits</span>
                </div>
                <p class="fs-normal mb-0">List of Desposit</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
              <i class="fa fa-pen-square text-center bg-danger rounded-circle white"></i>
              <div class="ms-3">
                <div class="d-flex align-items-center">
                  <h3 class="mb-0">34</h3>&nbsp; <span class="d-block ms-2">Withdraws</span>
                </div>
                <p class="fs-normal mb-0">List of Withdraws</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box d-flex rounded-2 align-items-center p-3">
              <i class="fa fa-envelope text-center bg-success rounded-circle white"></i>
              <div class="ms-3">
                <div class="d-flex align-items-center">
                  <h3 class="mb-0">5,245</h3>&nbsp; <span class="d-block ms-2">Messages </span>
                </div>
                <p class="fs-normal mb-0">List of Messages</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
              <i class="fa fa-user text-center bg-primary rounded-circle white"></i>
              <div class="ms-3">
                <div class="d-flex align-items-center">
                  <h3 class="mb-0">12</h3>&nbsp; <span class="d-block ms-2">User</span>
                </div>
                <p class="fs-normal mb-0">List of Users</p>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </section>