 <!-- START PAGE BANNER AND BREADCRUMBS -->
 <section id="page-banner">
    <div class="single-page-title-area overlay bg" data-background="assets/img/bg/slide1.jpg">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="single-page-title">
                        <h2>Alliance Investment Management Ltd</h2>
                        <p>About Alliance Investment Management Ltd</p>
                    </div>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
    <div class="single-page-title-area-bottom">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">About  Us</li>
                    </ol>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</section>
<!-- END PAGE BANNER AND BREADCRUMBS -->
<div class="auto-container">
<div class="row">
<p>
    Alliance Investment Management Ltd ("Alliance Invest") is a non-banking investment and financing company for business ansd individuals
    .The company is licensed by the Financial Services Commission of Jamaica under the Securities Act 1993 and was registerd in 2017. We provide asset management 
    and financial advisory services to meet each client's specific needs, 
    with offices in key regional financial markets, offering a comprehensive range of investment
    products and services covering Agriculture, Cryptocurrency and Real Estate
    . Alliance Investment Management Ltd currently operates as an independently investment management company.
    Alliance Investment Management Ltd has molded an all-around client-driven experience that focuses on the latest
    value adding market
    insights and customizing our broad range of investment opportunities to meet the diverse needs of high net worth
    and institutional clients. Putting clients at the heart of the experience, Alliance Invest implements an
    ethical,
    empathetically and proactive approach to building long lasting relationships while actively managing, monitoring
    and reporting on portfolios to reassess each client’s needs in accordance with their set investment objectives.
    Alliance Investment Management Ltd provides a variety of bespoke asset management solutions covering equities
    and fixed income,
    private equity, agro-products, pharmaceutical & chemical products, real estate, third party solutions and
    management of special situations. Our team combines our latest in-house market research with innovative
    investment strategies and solutions to suite each client’s unique needs. Our investment banking specialists have
    assisted some of the regions top-rated institutions in successfully concluding M&As, Debt Capital Market and
    Equity Capital Market mandates. Stemming from the understanding that our clients want to grow their wealth with
    the freedom to choose the financial markets that suite their needs, our brokerage arm provides quick and
    reliable access to several regional and international markets.
    With decades worth of expertise and leadership in the region, Alliance Investment Management Ltd boasts in
    excess of USD
    15.7 billion* in assets under management across various asset classes and jurisdictions (making it the 5th
    largest asset manager in the GCC), with investment banking credentials exceeding USD 28.2 billion* across equity
    & debt capital markets and mergers & acquisitions.
</p>
</div>
</div>
