

li{
    list-style-type: none;
    margin: 2vw 0;
    
    font-size: 3vh;
  }
  
  a{
    text-decoration: none;
    color: #fff;
    font-family: monospace;
  
    padding: 2vw;
  }
  
  nav{
    width: 100vw;
    background-color: #242438;
  }
  
  ul{
    display: block;
    margin: 0;
    padding: 0;
    display: flex;  
  }
  
  body{
    margin: 0;
  }
  .pull-right{
      float: right !important;
  }
  button{
    display: none;
  }
//   li{
//     font-size: 1rem;
//     font-weight: 500;
//   }
  
  a:hover{
    background-color: #e63205;
  }
  
  @media only screen and (max-width: 500px) {
    ul{
      flex-direction: column;
    }
    
    a{
      display: block;
    }
    
    li{
      margin: 0;
    }
    nav{
        margin-bottom: 2.0rem;
    }
    button{
      display: block;
      
      padding: 2vw;
      font-size: 3vh;
      background-color: #e63205;
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff !important;
      align-self: flex-start;
    }
  }
  
  .top{
      margin-top: 5rem;
  }
  .logout{
      cursor: pointer;
      color: #fff !important;
  }