

// li{
//     list-style-type: none;
//     margin: 2vw 0;
    
//     font-size: 3vh;
//   }
  
//   a{
//     text-decoration: none;
//     color: #fff;
//     font-family: monospace;
  
//     padding: 2vw;
//   }
  
//   nav{
//     width: 100vw;
//     background-color: #242438;
//   }
  
//   ul{
//     display: block;
//     margin: 0;
//     padding: 0;
//     display: flex;  
//   }
  
//   body{
//     margin: 0;
//   }
//   .pull-right{
//       float: right !important;
//   }
//   button{
//     display: none;
//   }
//   .white{
//     color: #fff !important;
//   }
// //   li{
// //     font-size: 1rem;
// //     font-weight: 500;
// //   }
  
//   a:hover{
//     background-color: #e63205;
//   }
  
//   @media only screen and (max-width: 500px) {
//     ul{
//       flex-direction: column;
//     }
    
//     a{
//       display: block;
//     }
    
//     li{
//       margin: 0;
//     }
//     nav{
//         margin-bottom: 2.0rem;
//     }
//     button{
//       display: block;
      
//       padding: 2vw;
//       font-size: 3vh;
//       background-color: #e63205;
//       border: none;
//       outline: none;
//       cursor: pointer;
//       color: #fff !important;
//       align-self: flex-start;
//     }
//   }
  
//   .top{
//       margin-top: 5rem;
//   }
//   .logout{
//       cursor: pointer;
//       color: #fff !important;
//   }



* {
  box-sizing: border-box;
}

// body {
//   margin: 0px;
//   font-family: 'segoe ui';
// }

.nav {
  // height: 50px;
  // width: 100%;
  background-color:  #242438;
  // position: relative;
  margin-bottom: 2.0rem;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: #242438;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    background: #242438;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #242438;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #242438;
    height: 0px;
    z-index: 100000;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}