	<!-- START PAGE BANNER AND BREADCRUMBS -->
	<section id="page-banner">
		<div class="single-page-title-area overlay bg" data-background="BBTC.png">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>Edit Profile</h2>
							
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Edit Profile</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning " role="alert">
                        To get more info and update about the company, <a href="https://t.me/joinchat/9Y5tQCkb0UNiZTEx"> Click here!!! </a> to join the Telegram Channel
                      </div>
                </div>
            </div>
            </div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->


    	<!-- START CONTACT SECTION -->
        <section id="contactpage" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="contact-form-wrapper">
                            <div class="contact-form">
                                <form [formGroup]="registerForm" return false >
                                    <div class="row">
                                        <div class="form-group col-12 mb-3">
                                            <label>Your Full Name:</label>
                                            <input  formControlName="name" class="form-control"  required="required" type="text" disabled>
                                        </div>
                                        <div class="form-group col-12 mb-3">
                                            <label>Your Email:</label>
                                            <input class="form-control" formControlName="email"  required="required" type="email" disabled>
                                        </div>
                                        <div class="form-group col-12 mb-3">
                                            <label>Userame:</label>
                                            <input  class="form-control" formControlName="username"  required="required" type="text">
                                        </div>
                                        <div class="form-group col-12 mb-3">
                                            <label>Phone Number:</label>
                                            <input  class="form-control" formControlName="phone_number"  required="required" type="tel">
                                        </div>
                                      
                                      
                                        <div class="form-group col-lg-12 mb-0 text-center">
                                            <div class="actions">
                                                <a class="btn btn-contact-bg white" (click)="update(registerForm.value)"  style="background-color: #e63205 !important; color: #fff !important;" type="submit">Update Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>								
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!--- END CONTAINER -->
        </section>
        <!-- END CONTACT SECTION -->