
    <!-- START PAGE BANNER AND BREADCRUMBS -->
    <section id="page-banner">
        <div class="single-page-title-area overlay bg" data-background="assets/img/bg/slide1.jpg">
            <div class="auto-container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="single-page-title">
                            <h2>Alliance Investment Management Ltd</h2>
                            <p>Risk Management</p>
                        </div>
                    </div>
                </div>
                <!-- end row-->
            </div>
        </div>
        <div class="single-page-title-area-bottom">
            <div class="auto-container">
                <div class="row">
                    <div class="col-12 text-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Support</li>
                        </ol>
                    </div>
                </div>
                <!-- end row-->
            </div>
        </div>
    </section>
    <!-- END PAGE BANNER AND BREADCRUMBS -->
    <div class="auto-container">
        <div class="row">

                <p>
                    Our website and the contents therein are not intended to be an offering, sale, and/or distribution of any of the
                    products or services described in the information or data produced within, to any jurisdiction to any person to
                    whom it is unlawful to make such an offer, sale and/or distribution, including the United States. If you intend
                    to obtain any product or service from Gromio Limited that is described on this website, you must first inform
                    Gromio or if you would not be allowed to obtain such products or services from Gromio in your home jurisdiction.
                    The website and its respective contents do not constitute an offer or invitation to purchase or subscribe for
                    any securities or a solicitation of any offer to sell any securities to US Persons. Any brokerage and investment
                    advisory services described herein are not intended for U.S. Persons. Furthermore, any solicitation on this web
                    site of financial services is not intended for U.S. Persons
                    “US Persons” are generally defined as a natural person, residing in the United States or any entity organized or
                    incorporated under the laws of the United States. US Citizens living abroad may also be deemed “US Persons”
                    under certain rules.
                    Gromio Limited cannot be held responsible for any damages or losses that occur from transactions and/or services
                    in defiance of the relevant rules of the purchaser’s home jurisdiction.
                    This website and its contents have been prepared by Gromio, for information purposes only. Any trade in
                    securities recommended herein is done subject to the fact that Gromio, its subsidiaries and/or affiliates have
                    or may have specific or potential conflicts of interest in respect of the security or the issuer of the
                    security, including those arising from (i) trading or dealing in certain securities and acting as an investment
                    advisor; (ii) holding of securities of the issuer as beneficial owner; (iii) having benefitted, benefitting or
                    to benefit from compensation arrangements; (iv) acting as an underwriter in any distribution of securities of
                    the issuer in the three years immediately preceding this document; or (v) having direct or indirect financial or
                    other interest in the security or the issuer of the security. Investors are advised accordingly. Neither Gromio
                    nor any of its subsidiaries, affiliates directors, officers, employees, representatives or agents, accepts any
                    liability whatsoever for any direct, indirect or consequential losses arising from the use of this website or
                    its contents or reliance on the information contained herein. Gromio does not guarantee the accuracy or
                    completeness of the information produced, which may have been obtained from or is based upon trade and
                    statistical services or other third-party sources. The information provided is not intended to predict actual
                    results and no assurances are given with respect thereto.
                </p>
        </div>
    </div>
    <!-- START CALLTOACTION SECTION -->
    <section id="calltoaction" class="calltoaction-padding section-padding bg-theme">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <div class="calltoaction-two-wrap">
                        <h4>Need Team Service?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do<br>incididunt ut labore et
                            dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- end col -->
                <div
                    class="col-lg-4 col-md-4 col-sm-12 col-12 mt-lg-4 mt-md-4 text-lg-right text-md-right text-sm-left text-left">
                    <a href="#" class="btn-style btn-border btn-border-3">Contact Us</a>
                </div>
                <!-- end col -->
            </div>
            <!-- end row-->
        </div>
    </section>
    <!-- END CALLTOACTION SECTION -->


    <!--Footer Bottom -->
    <div class="copyright">
        <div class="auto-container">
            <div class="row">
                <div
                    class="col-lg-6 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-4 footer-menu text-center text-lg-left text-md-left">
                    <ul>
                        <li><a href="#">Company Profile</a> </li>
                        <li><a href="#">Terms & Condition</a> </li>

                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 copyright-text text-center text-lg-right text-md-right">
                    <p><a href="https://www.templateshub.net" target="_blank">Templates Hub</a></p>
                </div>
            </div>
        </div>
    </div>