  <!-- START PAGE BANNER AND BREADCRUMBS -->
  <section id="page-banner">
    <div class="single-page-title-area overlay bg" data-background="assets/img/bg/slide1.jpg">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="single-page-title">
                        <h2>Alliance Investment Management Ltd</h2>
                        <p>Why Choose Alliance Investment Management Ltd</p>
                    </div>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
    <div class="single-page-title-area-bottom">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Investment</li>
                    </ol>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</section>
<!-- END PAGE BANNER AND BREADCRUMBS -->
<div class="auto-container">
    <div class="row">

        <h3>  Why choose Allinace Investment Management Ltd?</h3>
            This product is geared toward individual investors who have challenges in setting up their portfolio, which is,
            choosing the right assets to achieve the desired objective. The correct mix is achieved only through careful
            selection based on accurate information and constant monitoring of the markets- a time-consuming task for many
            potential investors who may not have the investment know-how or time to commit this most important aspect. When
            managing your own portfolio, you must also contend with challenging decisions on which assets to purchase or
            dispose
            of when purchasing or dispose of and how much to purchase or dispose of in order to have the right mix to
            achieve
            your objectives. At Allinace Investment Management Ltd, we take these burdens off your shoulder. We offer you a
            very PERSONALIZED service- a
            one-on-one Client/ Investment Services Adviser relationship. We have a readymade portfolio that is tailored to
            your
            specifications, molded by your changing needs, and suitable for your investment goals.
            Creating your Investment
            Our Investment Plan service is carried out in 3 stages:

            First Stage: The investment is for individual Investors or Groups that wish to invest in the Importation of
            Shrimps
            & Prawns from Asia to Europe Investment Plan and the plan comes in 3 stages. You

            Second Stage: We have an investment trading for Currency Exchange Trading (Digital & Paper Currency) which is
            applicable for both the individual investor and group of investors.

            Third Stage: The last investment plan is for individual investor or group that wishes to invest in Chemical
            Products
            Trading and Agricultural Production Trading.

            Note: Every investment Stage and Plans comes with different ROI periods and calculations, we advise you to
            choose
            your investment plan in line with your justification.
            Benefits of Investing with Allinace Investment Management Ltd

            The Investment Management team at Allinace Investment Management Ltd has a wealth of experience amounting to
            some of the best
            expertise
            in the world equity market and fixed income securities. In the local equity space, we are recognized as the best
            research house.

            Allinace Investment Management Ltd has a highly successful record of advising institutional and individual
            investors in stock
            picking.
            This will be of substantial benefit to your portfolio.

            One-on-one, in-depth review of your portfolio’s performance with Allinace Investment Management Ltd Investment
            Analyst on a
            quarterly
            basis or more often as may be required.

            Quarterly statements and summary performance review on your portfolio in conjunction with changes in the market
            conditions.

            On-going information directly to you on the outlook for specific Stocks, Bonds, and other money market
            instruments.

            Placing your investment

            Register With us or Login

            Deposit Fund through your dashboard

            Select any of the Investment Plan

            Wait for the period of investment to elapse

            Withdraw your profit and capital.

            You must be over 18 years of age

            Trust may be established on a single or joint basis.
        </div>
    </div>
<!-- START CALLTOACTION SECTION -->
<section id="calltoaction" class="calltoaction-padding section-padding bg-theme">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                <div class="calltoaction-two-wrap">
                    <h4>Need Team Service?</h4>
                    
                </div>
            </div>
            <!-- end col -->
            <div
                class="col-lg-4 col-md-4 col-sm-12 col-12 mt-lg-4 mt-md-4 text-lg-right text-md-right text-sm-left text-left">
                <a href [routerLink]="['/contact']" routerLinkActive="active" class="btn-style btn-border btn-border-3">Contact Us</a>
            </div>
            <!-- end col -->
        </div>
        <!-- end row-->
    </div>
</section>
<!-- END CALLTOACTION SECTION -->



    <!--Footer Bottom -->
    <div class="copyright">
        <div class="auto-container">
            <div class="row">
                <div
                    class="col-lg-6 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-4 footer-menu text-center text-lg-left text-md-left">
                    <ul>
                        <li><a href="#">Company Profile</a> </li>
                        <li><a href="#">Terms & Condition</a> </li>
                    
                    </ul>
                </div>
                <div
                    class="col-lg-6 col-md-6 col-sm-12 col-12 copyright-text text-center text-lg-right text-md-right">
                   
                </div>
            </div>
        </div>
    </div>