<!-- START PAGE BANNER AND BREADCRUMBS -->
<section id="page-banner">
    <div class="single-page-title-area overlay bg" data-background="../../../assets/img/images/aliance.JPG">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="single-page-title">
                        <h2>Alliance Investment Management Ltd</h2>
                       
                    </div>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
    <div class="single-page-title-area-bottom">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Mission</li>
                    </ol>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</section>
<!-- END PAGE BANNER AND BREADCRUMBS -->
<div class="auto-container">
        <div class="row">
        <p>
        <h5>Vision Statement</h5> 
        To be the preferred investment service provider to the clients we serve.
        
        
        <h5>Mission Statement</h5>
        We provide investment/financial products and services to meet the needs of our clients and deliver superior
        returns.
        In doing so, the aspirations of our employees for growth and development are realized, and enhanced value
        achieved for all our stakeholders.
        <h5> Core Values</h5>
        Independence: Freedom from the influence and special interests allow us to offer our clients honest and unbiased
        perspectives.
        With no affiliations to any key financial institutions, banks, or insurance companies,Alliance Investment
        Management Ltd is able to make
        the best decisions for our investors. We scour the markets for the best available opportunities and present them
        directly to our clients, who subsequently reap the rewards.
        Integrity: We believe in doing what is right and standing by it.
        As a financial institution, we strive to be honest and disciplined in all that we do. We also expect that our
        employees maintain the highest ethical standards in their ongoing activities. We understand the importance of
        keeping our clients’ information strictly confidential and as a result, we have implemented stringent procedures
        and put a number of measures in place to ensure that no breaches occur.
        Innovation: We relentlessly pursue new and better ways to add value to those whom we serve.
        At Alliance Investment Management Ltd, we consider innovation as our key to success. Throughout the years,
        Alliance Investment Management Ltd has consistently
        added new products and services to our financial suite. We are continuously keeping abreast of market movements
        and searching for the best opportunities in local, regional, and international markets, which aids in making
        superior investment decisions for you.
        Investor Education: We strive to help our clients make the best and most informed investment choices.
        Our highly skilled Investment Analysts conduct research on a day-to-day basis and collaborate on ideas and
        advice from globally recognized financial institutions.Alliance Investment Management Ltd shares this
        information regularly with potential
        and existing investors using a variety of communication channels.
         
        <h5> Our Responsible Investment Strategy</h5>
        Responsible Investment (RI) often focuses on the consideration of environmental, social and governance (ESG)
        factors in investment decision-making and active ownership practices. While this is critically important, we
        believe that effective and credible approaches to responsible investment must rest on foundations of a strong
        stewardship mind-set, engaged people, quality investment processes and responsible and ethical business conduct.
        For over a decade this has formed the basis of our strategic approach to RI. 
         
        Our diverse investment capabilities
        Our commitment to RI and stewardship is a common thread which runs through our diverse investment capabilities. 
        Each investment team are specialists in their respective fields and set their own investment philosophies and
        processes.  In particular, all teams believe that ESG issues impact investment value and that as a leading
        global institutional investor we can achieve better long-term investment outcomes through active engagement and
        by exercising the equity ownership rights we hold on behalf of our clients.
        The teams also integrate ESG into their investment process in various different ways. The RI Steering Group will
        take a decision to implement a company-wide ban on certain companies in certain sectors and several teams apply
        additional screens when requested by clients at mandate level.
        Why choose Allinace Investment Management Ltd?
        This product is geared toward individual investors who have challenges in setting up their portfolio, which is,
        choosing the right assets to achieve the desired objective. The correct mix is achieved only through careful
        selection based on accurate information and constant monitoring of the markets- a time-consuming task for many
        potential investors who may not have the investment know-how or time to commit this most important aspect. When
        managing your own portfolio, you must also contend with challenging decisions on which assets to purchase or
        dispose
        of when purchasing or dispose of and how much to purchase or dispose of in order to have the right mix to
        achieve
        your objectives. At Allinace Investment Management Ltd, we take these burdens off your shoulder. We offer you a very
        PERSONALIZED service- a
        one-on-one Client/ Investment Services Adviser relationship. We have a readymade portfolio that is tailored to
        your
        specifications, molded by your changing needs, and suitable for your investment goals.
        Creating your Investment
        Our Investment Plan service is carried out in 3 stages:

        First Stage: The investment is for individual Investors or Groups that wish to invest in the Importation of
        Shrimps
        & Prawns from Asia to Europe Investment Plan and the plan comes in 3 stages. You

        Second Stage: We have an investment trading for Currency Exchange Trading (Digital & Paper Currency) which is
        applicable for both the individual investor and group of investors.

        Third Stage: The last investment plan is for individual investor or group that wishes to invest in Chemical
        Products
        Trading and Agricultural Production Trading.

        Note: Every investment Stage and Plans comes with different ROI periods and calculations, we advise you to
        choose
        your investment plan in line with your justification.
        Benefits of Investing with Allinace Investment Management Ltd

        The Investment Management team at Allinace Investment Management Ltd has a wealth of experience amounting to some of
        the best
        expertise
        in the world equity market and fixed income securities. In the local equity space, we are recognized as the best
        research house.

        Allinace Investment Management Ltd has a highly successful record of advising institutional and individual investors
        in stock
        picking.
        This will be of substantial benefit to your portfolio.

        One-on-one, in-depth review of your portfolio’s performance with Allinace Investment Management Ltd Investment
        Analyst on a
        quarterly
        basis or more often as may be required.

        Quarterly statements and summary performance review on your portfolio in conjunction with changes in the market
        conditions.

        On-going information directly to you on the outlook for specific Stocks, Bonds, and other money market
        instruments.

        Placing your investment

        Register With us or Login

        Deposit Fund through your dashboard

        Select any of the Investment Plan

        Wait for the period of investment to elapse

        Withdraw your profit and capital.

        You must be over 18 years of age

        Trust may be established on a single or joint basis
        
        </div>
    </div>


<!--Footer Bottom -->
<div class="copyright">
    <div class="auto-container">
        <div class="row">
            <div
                class="col-lg-6 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-4 footer-menu text-center text-lg-left text-md-left">
                <ul>
                    <li><a href="#">Company Profile</a> </li>
                    <li><a href="#">Terms & Condition</a> </li>

                </ul>
            </div>
           
        </div>
    </div>
</div>