
    <!-- START PAGE BANNER AND BREADCRUMBS -->
    <section id="page-banner">
        <div class="single-page-title-area overlay bg" data-background="assets/img/bg/slide1.jpg">
            <div class="auto-container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="single-page-title">
                            <h2>Alliance Investment Management Ltd</h2>
                            <p>Terms & conditions</p>
                        </div>
                    </div>
                </div>
                <!-- end row-->
            </div>
        </div>
        <div class="single-page-title-area-bottom">
            <div class="auto-container">
                <div class="row">
                    <div class="col-12 text-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Terms & conditions</li>
                        </ol>
                    </div>
                </div>
                <!-- end row-->
            </div>
        </div>
    </section>
    <!-- END PAGE BANNER AND BREADCRUMBS -->

    <div class="auto-container">
     <div class="row">   
        <div>
        <h3>Terms</h3>

        By accessing the website at https://gromiolimited.com, you are agreeing to be bound by these terms of service,
        all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable
        local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site.
        The materials contained in this website are protected by applicable copyright and trademark law.

        <h3> Use License</h3>

        Permission is granted to temporarily download one copy of the materials (information or software) on Gromio
        Limited Limited’s website for personal, non-commercial transitory viewing only. This is the grant of a license,
        not a transfer of title, and under this license, you may not:

        modify or copy the materials;

        use the materials for any commercial purpose, or for any public display (commercial or non-commercial);

        attempt to decompile or reverse engineer any software contained on Alliance investment Management Ltd website;

        remove any copyright or other proprietary notations from the materials; or

        Transfer the materials to another person or “mirror” the materials on any other server.

        This license shall automatically terminate if you violate any of these restrictions and may be terminated by
        Gromio Limited at any time. Upon terminating your viewing of these materials or upon the termination of this
        license, you must destroy any downloaded materials in your possession whether in electronic or printed format.

        <h3>Disclaimer</h3>

        The materials on Alliance investment Management Ltd website are provided on an ‘as is’ basis. Alliance
        investment Management Ltd
        makes no
        warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without
        limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or
        non-infringement of intellectual property or other violation of rights.

        Further, Alliance investment Management Ltd does not warrant or make any representations concerning the
        accuracy, likely results, or
        reliability of the use of the materials on its website or otherwise relating to such materials or on any sites
        linked to this site.

        <h3>Limitations</h3>

        In no event shall Alliance investment Management Ltd or its suppliers be liable for any damages (including,
        without limitation,
        damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use
        the materials on Alliance investment Management Ltd website, even if Alliance investment Management Ltd or a
        Alliance investment Management Ltd authorized
        representative has been notified orally or in writing of the possibility of such damage. Because some
        jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or
        incidental damages, these limitations may not apply to you.

        Accuracy of materials

        The materials appearing on Alliance investment Management Ltd website could include technical, typographical, or
        photographic errors. Alliance investment Management Ltd does not warrant that any of the materials on its
        website are accurate,
        complete, or current. Alliance investment Management Ltd may make changes to the materials contained on its
        website at any time
        without notice. However Alliance investment Management Ltd does not make any commitment to update the materials.
         

        <h3> Links</h3>

        Alliance investment Management Ltd has not reviewed all of the sites linked to its website and is not
        responsible for the contents
        of any such linked site. The inclusion of any link does not imply endorsement by Alliance investment Management
        Ltd of the site. Use
        of any such linked website is at the user’s own risk.

        <h3>Social Media Channels</h3>

        When using our social media channels, information (anonymous or otherwise) may be collected and retained about
        you. This can include the way you use our website and the frequency of visits. The social media platforms we use
        may also be permitted to share certain types of information with us in accordance with the privacy agreements
        between you and those platforms.
        In…
        </div>
    </div>
    </div>
    <!-- START CALLTOACTION SECTION -->
    <section id="calltoaction" class="calltoaction-padding section-padding bg-theme">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <div class="calltoaction-two-wrap">
                        <h4>Need Team Service?</h4>
                        
                    </div>
                </div>
                <!-- end col -->
                <div
                    class="col-lg-4 col-md-4 col-sm-12 col-12 mt-lg-4 mt-md-4 text-lg-right text-md-right text-sm-left text-left">
                    <a href="#" class="btn-style btn-border btn-border-3">Contact Us</a>
                </div>
                <!-- end col -->
            </div>
            <!-- end row-->
        </div>
    </section>
    <!-- END CALLTOACTION SECTION -->


    <!--Footer Bottom -->
    <div class="copyright">
        <div class="auto-container">
            <div class="row">
                <div
                    class="col-lg-6 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-4 footer-menu text-center text-lg-left text-md-left">
                    <ul>
                        <li><a href="#">Company Profile</a> </li>
                        <li><a href="#">Terms & Condition</a> </li>

                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 copyright-text text-center text-lg-right text-md-right">
                    <p><a href="https://www.templateshub.net" target="_blank">Templates Hub</a></p>
                </div>
            </div>
        </div>
    </div>
