 <!-- START PAGE BANNER AND BREADCRUMBS -->
 <section id="page-banner">
    <div class="single-page-title-area overlay bg" data-background="assets/img/bg/slide1.jpg">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="single-page-title">
                        <h2>Alliance Investment Management Ltd</h2>
                        <p>About Alliance Investment Management Ltd</p>
                    </div>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
    <div class="single-page-title-area-bottom">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">About  Us</li>
                    </ol>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</section>
<!-- END PAGE BANNER AND BREADCRUMBS -->
<div class="auto-container">
<div class="row">
<p>
    <br>
 <strong>  Who we are?</strong> <br>
Alliance investment management Ltd ( AIM ) is a professional investment corporation found in the year 27th June 2017. we engage in cryptocurrency exchange, real estate management and agricultural production.
Our goal at Alliance investment management ltd is to provide our clients with a comprehensive market with new resources. Currently, AIM operates as an independently investment management company.

We are very concerned about how we relate with and deal with our clients. When it comes to delivering on our words and relating to clients, we take no half measures. We do not undermine the role of teamwork in the success of our company and that of our clients. Thus, we put every resources together to achieve a greater height. Our aim is to push our business beyond every limit. We tend to achieve this by diversifying into various sectors of the economy and making good impacts in all. Alliance investment management Ltd has molded an all-around client-driven experience that focuses on the latest value adding market insights and customizing our broad range of investment opportunities to meet the diverse needs of high net worth and institutional clients.


We deliver high performance with the clients’ projected satisfaction

We are Constantly ready to assist you make positive investment decisions, earning as much return as possible from selected investment instruments and markets. We aim for perfection in the asset management and financial investments. We guarantee you a safe space to invest your finances and receive a solid growth progress on your portfolio. We utilize the most developed and the most innovative investment strategies that are designed to produce and promote long term financial profits.

 Putting clients at the heart of the experience, Alliance investment management Ltd (AIM) implements an ethical, empathetically and proactive approach to building long lasting relationships while actively managing, monitoring and reporting on portfolios to reassess each client’s needs in accordance with their set investment objectives.

                                          <br> <br/><strong> OUR SERVICES </strong><br/>
                                           Alliance investment management Ltd (AIM) is your trusted partner dedicated to growing your investment portfolio through investment in Real estate, Agricultural produce and Crypto currency exchange. 

                                           Becoming a member of Alliance investment management Ltd, you need to know you'll get outstanding customer service - that means responsive and reliable support, even at the busiest of times. And because we personalize our service experience, you can be confident in knowing we're here to help you overcome any challenge and make sure you get the maximum value out of the platform. Helping investors to grow wealth and attain financial freedom is our sole aim in Alliance Investment management Ltd (AIM).
                                           
                                           We know how important it is to have good support in the online space and right from the start we have strived to be the best. Whether you have platform questions, any problem or you simply want to suggest new features, we are here to listen and to help you. AIM has an active 24/7 live support team that is efficient and diligent with a major aim of rendering the best of services to you.
                                           
                                           In Alliance Investment management Ltd, we help grow wealth by utilizing the best innovative investment strategies which allows you attain financial freedom. Authenticity in investment is our motto in Alliance investment management Ltd (AIM).
</p>
</div>
</div>
<br><br>
