.slider-1{
    background-image: url('../../../assets/img/bg/slide1.jpg') !important;
}
.slider-2{
    background-image: url('../../../assets/img/bg/slide5.jpg') !important;
}
.slider-3{
    background-image: url('../../../assets/img/bg/slide6.jpg') !important;
}

.counter {
    background-image: url('../../../assets/img/bg/counterbg.jpg') !important;
}

.chain{
    background-image: url('../../../assets/img/bg/processbg.jpg') !important;
}