.bg{
    background-image: url('../../../assets/img/images/BBTC.png');
}
.color_white{
    color: #fff !important;
    cursor: pointer;
}

.orange_color{
    color: #e63205 !important; 
}

.btn-primary{
    background-color: #e63205 !important; 
    border-color: #e63205 !important; ;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e63205 !important;
    border-color: #e63205 !important;
}

