<!-- START HEADER SECTION -->
<header class="main-header header-1">
    <!-- START TOP AREA -->
    <div class="top-area">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    
                </div>
                <!-- end col -->
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="info-menu">
                        
                    </div>
                </div> 
                <!-- end col -->
            </div>
        </div>
    </div>
    <!-- END TOP AREA -->

    <!-- START LOGO AREA -->
    <div class="logo-area">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-5 col-md-3 col-sm-6 col-7 mx-auto pl-0 mb-lg-0 mb-5">
                    <div class="logo">
                        <a href [routerLink]="['/']">
                           <img class="img-fluid" src="../../../assets/img/images/aliance.JPG" alt="">
                        </a>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="header-info-box">
                        <div class="header-info-icon">
                            <i class="fa fa-envelope-open"></i>
                        </div>
                        <p>Email Us</p>
                        <h6>info@yoursite.com</h6>
                    </div>
                    <div class="header-info-box">
                        <div class="header-info-icon">
                            <i class="icofont icofont-phone"></i>
                        </div>
                        <p>Call Us</p>
                        <h6>123-456-0975</h6>
                    </div>
                    <div class="header-info-box">
                        <a href [routerLink]="['/']" class="quote-btn">Home <i class="icofont icofont-caret-right"></i></a>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
    <!-- END LOGO AREA -->

    <!-- START NAVIGATION AREA -->
    <div class="sticky-menu">
        <div class="mainmenu-area">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-9 d-none d-lg-block d-md-none">
                        <nav class="navbar navbar-expand-lg justify-content-left">
                            <ul class="navbar-nav">
                               <P class="dropdown"><a [routerLink]="['/user']" routerLinkActive="active" class="nav-link">Dashboard</a>
                        
                                </P>
                                <li class="dropdown"><a class="nav-link" href="#">Investment</a>
                                    <ul class="dropdown-menu">
                                        <li><a href>New Investment</a></li>
                                        <li><a href>Investment Histroy</a></li>
                                        <li><a href>Recent Investment</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="dropdown"><a  class="nav-link">Transaction</a>
                                    <ul class="dropdown-menu">
                                        <li><a [routerLink]="['/user/withdraw']" routerLinkActive="active">Withdraw Fund</a></li>
                                        <li><a [routerLink]="['/user/withdraws']" routerLinkActive="active">Withdraw Histroy</a></li>
                                        <li><a [routerLink]="['/user/wallet']" routerLinkActive="active">Desposit Fund</a></li>
                                        <li><a [routerLink]="['/user/wallets']" routerLinkActive="active">Deposit Histroy</a></li>
                                        <li><a [routerLink]="['/user/transactions']" routerLinkActive="active">Transaction Log</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="service.html" class="nav-link">MY PROFILE</a>
                                    <ul class="dropdown-menu">
                                        <li><a [routerLink]="['/user/profile']" routerLinkActive="active">Edit Profile</a></li>
                                        <li><a [routerLink]="['/user/password_change']" routerLinkActive="active">Change Password</a></li>
                                        <li><a href (click)="logout()">Logout</a></li>
                                        
                                    </ul>
                                </li>
                            

                            
                                <li><a href class="nav-link">Contact</a></li>
                                <li style="float: right !important;"><a class="nav-link" >Welcome {{userdetail?.name}}</a></li>
                            </ul>
                        </nav>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- END NAVIGATION AREA -->	
</header>
<!-- END HEADER SECTION -->
<router-outlet></router-outlet>