<!-- New Navbar start -->
<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <!-- Alliance Investment Management -->
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
       
        <a class="white" href  [routerLink]="['/']" routerLinkActive="active">Home </a>
      
     
        <a  class="white" (click)="about()" > About Us </a>
    
  
        <a  class="white" (click)="faq()"> Faq </a>
    
     
        <a  class="white" (click)="pricing()">Investment Plans</a>
    
       
            <a  class="white" (click)="support()"> Support </a>
        
   
            <a  class="white" (click)="contact()">Contact Us </a>
        
        
            <a  class="white" *ngIf="!userdetail" (click)="login()"> Login </a>
        
     
            <a  class="white" *ngIf="!userdetail"  (click)="register()"> Register </a>
        
       
            <a  class="white" *ngIf="userdetail" (click)="dashboard()">Dashboard </a>
        
            <a class="white" *ngIf="userdetail" href (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </div>

