	<!-- START FOOTER -->
	<footer>
		<!--Footer top -->
		<div class="footer-top overlay section-back-image-2 bg" data-background="assets/img/bg/slide1.jpg">
			<div class="auto-container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-5 mb-5 footer-widget">
						<div class="footer-logo col-12 p-0">
							<a href="#">
								<div class="footer-logo-icon">
									<i class="fab fa-gg-circle"></i>
								</div>
								<div class="footer-logo-text">
									<h3>Alliance Investment Manangement Ltd</h3>

								</div>
							</a>
						</div>
						<div class="about mb-2">
							<p>Alliance Investment Manangement Ltd is an investment portfolio which tends 
								to deliver financial products and services with your best in mind. we view 
								our relationship with you as a partnership to build your long-term financial security.
								 .</p>
						</div>
						<div class="footer-news">
							<!-- <form action="#">
								<div class="row">
									<div class="form-group col-lg-9 col-md-9 col-8 pr-lg-0 pr-md-0 pr-2">
										<input name="semail" class="form-control" placeholder="Email Address"
											type="email">
									</div>
									<button type="submit" class="col-lg-3 col-md-2 col-2 p-0 fnews-btn"><i
											class="fa fa-paper-plane"></i></button>
								</div>
							</form> -->
						</div>
					</div>
					<!-- End Widget -->
					<div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-5 mb-5 footer-widget">
						<div class="footer-section-title col-12 no-padding">
							<h3>Quick Links</h3>
						</div>
						<!-- END SECTION TITLE -->
						<div class="col-12 footer-widget-inner">
							<ul class="quick-link-list">
								<li><a href [routerLink]="['/']" routerLinkActive="active"><i class="fa fa-chevron-circle-right"></i> Home Page</a></li>
								<li><a href [routerLink]="['/contact']" routerLinkActive="active"><i class="fa fa-chevron-circle-right"></i> Contact Us</a></li>
								<li><a href [routerLink]="['/about']" routerLinkActive="active"><i class="fa fa-chevron-circle-right"></i>About us</a></li>
								<li><a href [routerLink]="['/terms']" routerLinkActive="active"><i class="fa fa-chevron-circle-right"></i> Terms and Conditions</a></li>
								<li><a href [routerLink]="['/privacy']" routerLinkActive="active"><i class="fa fa-chevron-circle-right"></i>Privacy</a></li>
								
							</ul>
						</div>
					</div>
					
					<!-- End Widget -->
					<div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-0 footer-widget">
						<div class="footer-section-title col-12 no-padding">
							<h3>Stay With Us</h3>
						</div>
						<!-- END SECTION TITLE -->
						<div class="col-12 footer-widget-inner">
							<div class="single-fcontact mb-2">
								<div class="single-fcontact-icon">
									<i class="icofont icofont-pin"></i>
								</div>
								<div class="single-fcontact-des">
									<h6>Alliance Investment Management Ltd:</h6>
									<p>Booth St W, Manchester M15 6PB, United Kingdom </p>
								</div>
							</div>
							<div class="single-fcontact mb-2">
								<div class="single-fcontact-icon">
									<i class="icofont icofont-mobile-phone"></i>
								</div>
								<div class="single-fcontact-des">
									<h6>Phone Number:</h6>
									<p>+447520627388</p>
									<h6>Email Address:</h6>
									<p>support@allianceinvestmanagement.com</p>
									<h6>Whatsapp </h6>
									<p>	contact:+447897068617 </p>
									<!-- <h6> Telegram : </h6>
									<p><a href="https://t.me/Allianceinvestmanagement"> https://t.me/Allianceinvestmanagement  </a></p> -->
								</div>
							</div>
						</div>
						<div class="col-12 mt-4 footer-social-war">
							<div class="footer-social">
								<!-- <ul>
									<li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									<li><a href="#"><i class="icofont icofont-social-youtube"></i></a></li>
									<li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
								</ul> -->
							</div>
						</div>
					</div>
					<!-- End Widget -->
				</div>
			</div>
		</div>

		<!--Footer Bottom -->
		<div class="copyright">
			<div class="auto-container">
				<div class="row">
					<div
						class="col-lg-6 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-4 footer-menu text-center text-lg-left text-md-left">
						<ul>
							
							<p>2021 © All Rights Reserved 
								<!-- <a href [routerLink]="['/']" routerLinkActive="active">Alliance Investment Management</a> -->  </p> 
							<!-- <li><a href [routerLink]="['/terms']" routerLinkActive="active">Terms & Condition</a> </li> -->
							
						</ul>
					</div>

				</div>
			</div>
		</div>

	</footer>
	<!-- END FOOTER -->