<section id="page-banner" style="margin-top: -30px;">
    <div class="single-page-title-area overlay bg" data-background="assets/img/bg/slide1.jpg">
          <div class="auto-container">
              <div class="row">
                  <div class="col-12 text-center">
                      <div class="single-page-title">
                          <h2>Admin Panel To Management User Investment</h2>
                      </div>
                  </div>
              </div>
              <!-- end row-->
          </div>
      </div>
  </section>
  <section id="wallet" class="section-padding">
    <div class="container">	 
        <div class="row">
         Still Loading.  
        </div>
    </div>
</section>